# ------------------------------
# Server
# 환경, 서버 실행 포트, CORS, 애플리케이션 이름, 로그
# ------------------------------
NODE_ENV=
PORT=
CORS_ORIGIN=
CORS_CREDENTIALS=
APP_NAME=
LOG_LEVEL=

# ------------------------------
# Database
# PostgreSQL Database for Docker Compose
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=codi-it

# Prisma DATABASE_URL (for localhost, using Docker Compose defaults)
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"

# ------------------------------
# Security
# ------------------------------
BCRYPT_SALT_ROUNDS=

# ------------------------------
# JWT
# ------------------------------
ACCESS_TOKEN_SECRET_KEY=
REFRESH_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=